@import url('https://fonts.googleapis.com/css?family=Cabin');

/* Texte */

h1 {
    font-family: 'Cabin', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

p {
     font-family: 'Cabin', sans-serif;
}

a {
    font-family: 'Cabin', sans-serif;
}

/* Pages */

.en_tete {
    background-color: #E53914;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.titreConcept {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 50px;
}

.titreEmploye {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center; 
    font-size: 40px;
}

.boutonsCU {
    padding: 6px 5px 6px 5px;
    font:bold 20px Arial;
    background:#f5f5f5;
    color:#555;
    border-radius:2px;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
    margin-bottom: 10px;
    margin-right: 5px;
    height: 35px;
}

.afficheUtilisateur {
    margin-top: 30px;
}

.userText {
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}

.iconUser {
    float: right;
    height: 150px;
    margin-right: 30px;
}



.borderRight {
    border-right: 1px solid #000;
}

/* Page AdminCUMenus */

#divLstMenus,
#divLstCategories
{
    width:20%;
}

#divLstMets { 
    width:30%;
}